.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =============my_code start============= */

.CardSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  /* margin-top: 100px; */
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

article i {
  font-size: 40px;
}
article h4 {
  margin: 10px 5px;
}

.learnMore {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #347ddb;
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 25px;
  transition: 0.3s;
  border: 2px solid transparent;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 10px 10px -5px #2d112a;
}

.learnMore:hover {
  background: #215496;
  color: #fff;
}

@media (max-width: 769px) {
}

@media (max-width: 969px) {
  .learnMore {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 500px) {
  .learnMore {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* =====detailsView page===== */
.ContctDesign {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #d5deeb;
  color: #212121;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 25px;
  transition: 0.3s;
  border: 2px solid transparent;
  /* text-align: center; */
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 10px 10px -5px #2d112a;
}
.CardSize {
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

@media (max-width: 969px) {
  .ContctDesign {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 500px) {
  .ContctDesign {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 500px) {
  .CardSize {
    justify-content: center !important;
    /* margin: 0 !important; */
    width: 90%;
    align-items: center;
    /* text-align: center; */
  }
}

.ParenDiv {
  display: inline-flex;
  width: 100%;
}
.callIncon {
  text-align: center;
  align-items: center;
  display: flex;
}

.callIncon i {
  font-size: 15px;
  background: #34566f;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}

.nmMbl {
  width: 100%;
}
.nmMbl p {
  margin: 5px;
  font-family: Hind Siliguri;
}

/* manikganj.js style */
.fontStyle {
  text-align: center;
  padding: 20px;
}
.contentDiv {
  padding: 10px 20px;
}
.contentDiv h2 {
  color: #1877f2;
}
.contentDiv p {
  text-align: justify;
}

.contentDiv li {
  list-style-type: none;
}

/* ===============media page=============== */

/* model */
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  background-color: #140f0fe0;
  color: #fff;
  cursor: pointer;
}

/* .linkBtn {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #347ddb;
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 25px;
  transition: 0.3s;
  border: 2px solid transparent;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 10px 10px -5px #2d112a;
}
.linkBtn h4 {
  color: #eaeded;
}
.linkBtn i {
  color: #fff;
}
.MediaCardSection {
  min-height: 61vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MediaContainer {
  max-width: 950px;
  width: 100%;
  margin: auto;
} */
